In [9]:
import pandas as pd
import seaborn as sns
from shapely.geometry import Point
import geopandas as gpd
import matplotlib.pyplot as plt
import glob
import pathlib

In [2]:
sns.set()

In [76]:
cases = pd.read_csv("data/case_studies.csv")
cases

,case,period,origin
0,Athens,pre-industrial,"(23.729297894645065, 37.977742321097296)"
1,Brugge,pre-industrial,"(3.222135599564842, 51.20663413385126)"
2,Havana,pre-industrial,"(-82.35387869733259, 23.137058811383366)"
3,Kyoto,pre-industrial,"(135.77513789847612, 35.00441991880096)"
4,Nuremberg,pre-industrial,"(11.080741895925831, 49.4558122318182)"
5,Pavia,pre-industrial,"(9.155202505665285, 45.18542787308676)"
6,Recife,pre-industrial,"(-34.87950134898907, -8.066819977715335)"
7,Barcelona,industrial,"(2.1599658311051333, 41.39207228345335)"
8,Brisbane,industrial,"(153.00890689998246, -27.483072513877765)"
9,Buenos Aires,industrial,"(-58.37436109734774, -34.618526518125655)"
10,Chicago,industrial,"(-87.6496541987247, 41.91601382423912)"
11,De Pijp,industrial,"(4.890787, 52.353532)"
12,Paris,industrial,"(2.3036982060349636, 48.86864235146261)"
13,Philadelphia,industrial,"(-75.17713599972483, 39.92784202217783)"
14,Akademgorodok,modernist,"(83.10742859587872, 54.83929583879922)"
15,Brasilia,modernist,"(-47.91657209425542, -15.823763507567802)"
16,Drumul Taberei,modernist,"(26.02122171749766, 44.41721907853648)"
17,Kilamba,modernist,"(13.273496897999385, -8.998426816984628)"
18,Marzhan,modernist,"(13.558283202822224, 52.55398573559633)"
19,Tblisi,modernist,"(44.72275760065603, 41.72302532410621)"
20,Karvina,modernist,"(18.557418, 49.853861)"
21,Ciudad Guayana,garden city,"(-62.67209868783639, 8.34826427219966)"
22,Frohnau,garden city,"(13.277062904022877, 52.631536235815815)"
23,Hilversum,garden city,"(5.170650196333054, 52.23187803549469)"
24,Montreal,garden city,"(-73.64192800272671, 45.522340227287295)"
25,Greenhills,garden city,"(-87.996019, 42.941374)"
26,Stratton,garden city,"(116.04114530164892, -31.864639316563675)"
27,Tel Aviv,garden city,"(34.977140396112986, 32.0925043168361)"
28,Auckland,neo-traditional,"(174.9160552559242, -36.95408615897924)"
29,Brandevoort,neo-traditional,"(5.62261399486988, 51.46170483425585)"
30,Cornell Village,neo-traditional,"(-79.23037000333382, 43.88964002638408)"
31,Kentlands,neo-traditional,"(-77.24424129756238, 39.120324272641994)"
32,Mueller,neo-traditional,"(-97.70314980255172, 30.292836815637383)"
33,Miami Lakes,neo-traditional,"(-80.31195, 25.905058)"
34,Rieselfield,neo-traditional,"(7.792109457726385, 47.99888843253804)"
35,Abdurahmangazi,informal,"(29.25333679557981, 40.96419132348267)"
36,Bicentennaire,informal,"(-72.35389200521153, 18.535389208950473)"
37,Jardim Portal I e II,informal,"(-46.57587250888991, -23.440949292392443)"
38,Khayeltisha,informal,"(18.655964304683074, -34.02152631858855)"
39,Kricak,informal,"(110.35677760126997, -7.773518503607216)"
40,Mafalala,informal,"(32.572846900841455, -25.952561712972226)"
41,Tandale,informal,"(39.24312098621779, -6.792734470840269)"
42,Tondo,informal,"(120.9641471044341, 14.616058307179102)"

In [77]:
cases = cases.set_index("case")

In [78]:
files = glob.glob("data/*gpkg")

In [79]:
data = pd.DataFrame()

In [80]:
for f in files:
    tessellation = gpd.read_file(f, layer="tessellation")
    case = pathlib.Path(f).stem
    coords = cases.origin.loc[case]
    buffer = gpd.GeoSeries([Point(tuple(map(float, coords[1:-1].split(', '))))], crs=4326).to_crs(tessellation.crs).buffer(400)
    tessellation['period'] = cases.period.loc[case]
    tessellation['case'] = case
    casegdf = tessellation[tessellation.centroid.within(buffer.iloc[0])]
    data = data.append(casegdf.drop(columns=["uID", "nID", "mm_len", "node_start", "node_end", "nodeID", "geometry"]))

/opt/conda/lib/python3.8/site-packages/geopandas/geodataframe.py:422: RuntimeWarning: Sequential read of iterator was interrupted. Resetting iterator. This can negatively impact the performance.
  for feature in features_lst:

In [81]:
data['period'] = pd.Categorical(data['period'], categories=['pre-industrial', 'industrial', 'garden city', 'modernist', 'neo-traditional', 'informal'], ordered=True)

In [82]:
data = data.sort_values('period').reset_index(drop=True)

In [87]:
data.columns.drop(['case', 'period'])

Index(['cell_area', 'car', 'lal', 'covered3steps', 'blg_area', 'swr', 'wall',
       'adjacency', 'neighbour_distance', 'length', 'linearity', 'width',
       'width_deviation', 'openness', 'degree', 'cluster', 'closeness',
       'meshedness', 'period'],
      dtype='object')

In [88]:
for ch in data.columns.drop(['case', 'period']):
    plt.figure(figsize=(20, 12))
    boxen = sns.boxenplot(x="case", y=ch, hue='period', dodge=False, data=data, showfliers=False)
    boxen.set_xticklabels(boxen.get_xticklabels(), rotation=90)
    plt.savefig(f"figures/{ch}_all_normal.png")
    plt.close("all")

In [89]:
for ch in data.columns.drop(['case', 'period']):
    plt.figure(figsize=(20, 12))
    sns.boxenplot(x="period", y=ch,dodge=False, data=data, showfliers=False)
    plt.savefig(f"figures/{ch}_grouped_normal.png")
    plt.close("all")